* {
  box-sizing: border-box;
}

html {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

.body-container {
  top: 10%;
  align-items: center;
  justify-items: center;
  height: 100%;
  width: 100%;
}

.overlay {
  display: block;
  background-color: black;
  opacity: 0.5;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 3;
}

.header-container {
  z-index: 1;
  position: fixed;
  top: 0;
  color: red;
  font-size: 1.5rem;
  width: 100%;
}

.nav-container {
  text-align: center;
  margin-top: 0.5rem;
}

.nav-container h1 {
  margin: 0;
}

.splash-container {
  background: url("../img/jordan-splash.jpg");
  background-size: 100% 250px;
  background-repeat: no-repeat;
  display: flex;
  position: relative;
  height: 25%;
  width: 100%;
}

.spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
}

.loading {
  width: 2.5rem;
  height: 2.5rem;
  border: 10px solid #dddddd;
  border-top-color: #009579;
  border-radius: 50%;
  animation: rotate 2s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.shoe-selected__container {
  display: block;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 30rem;
  height: 35rem;
  border: 1px solid grey;
  border-radius: 4px;
  background-color: white;
  z-index: 4;
  overflow-y: auto;
}

.shoe-selected__container-exit {
  position: absolute;
  top: 2.5%;
  right: 2.5%;
  border: none;
  box-shadow: none;
  font-size: 1.3rem;
  font-weight: lighter;
}

.shoe-selected__title {
  font-weight: normal;
  padding: 1rem 1rem 0.5rem 1rem;
  min-width: 100%;
  border-bottom: 0.05px solid gray;
}

.shoe-selected__img {
  display: flex;
  flex-wrap: nowrap;
  min-width: 100%;
  padding: 0.5rem 0 1rem 1rem;
}

.shoe-selected__information {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(2, 50%);
  grid-template-areas:
    "info price"
    "info shop";
}

/* INFO CONTAINER */
.shoe-selected__info-container {
  grid-area: info;
  padding: 0.5rem;
  position: relative;
}

.shoe-selected__info-container h6 {
  height: 1.5rem;
  position: absolute;
  font-weight: lighter;
}

.shoe-selected__info {
  border-top: 0.05px solid gray;
  width: 100%;
  height: 100%;
  margin-top: 1.5rem;
  padding-top: 1.5rem;
}

.shoe-selected__info ul {
  padding: 0 0 0 0.5rem;
}

.shoe-selected__info li {
  font-weight: lighter;
  list-style: none;
  padding: 0 0 2rem 0;
}

.shoe-selected__info p {
  margin: 0;
}

/* PRICE CONTAINER */
.shoe-selected__price-container {
  grid-area: price;
  padding: 0.5rem;
  position: relative;
}

.shoe-selected__price-container h6 {
  height: 1.5rem;
  position: absolute;
  font-weight: lighter;
}

.shoe-selected__price {
  border-top: 0.05px solid gray;
  width: 100%;
  height: 100%;
  margin-top: 1.5rem;
  padding-top: 1.5rem;
}

.shoe-selected__price ul {
  padding: 0 0 0 0.5rem;
}

.shoe-selected__price li {
  font-weight: lighter;
  list-style: none;
  padding: 0 0 2rem 0;
}

.shoe-selected__price p {
  margin: 0;
}

/* SHOP CONTAINER */
.shoe-selected__shop-container {
  grid-area: shop;
  padding: 0.5rem;
  position: relative;
}

.shoe-selected__shop-container h6 {
  height: 1.5rem;
  position: absolute;
  font-weight: lighter;
}

.shoe-selected__shop {
  border-top: 0.05px solid gray;
  height: 100%;
  width: 100%;
  margin-top: 1.5rem;
}

.shoe-selected__shop a {
  text-decoration: none;
  color: black;
}
.shoe-selected__shop p {
  margin: 1rem 0;
}

.main-container {
  display: flex;
  position: relative;
  width: 100%;
  min-height: 50%;
}

.filter-container {
  width: 100%;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 100%;
  position: absolute;
  padding-bottom: 2rem;
  border-bottom: 1px solid black;
}

.filter-container h1 {
  font-weight: 600;
  margin: 1.5rem auto 0 2rem;
  grid-column: 1/2;
}

.filter-form {
  margin-top: 2.5rem;
  grid-column: 2/3;
}

#year {
  border: none;
  border-bottom: 1px solid black;
}

#year:focus {
  outline: none;
}

.btn-filter {
  margin-bottom: 0.75rem;
}

.btn-filter:focus {
  outline: none;
  box-shadow: none;
}

.shoe-card__container {
  min-height: inherit;
  padding: 7.5rem 1rem 5rem 1rem;
  display: flex;
  min-width: 100%;
}

.shoe-card__items {
  min-height: inherit;
  min-width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: auto auto;
}

.shoe-card__item {
  border-bottom: 0.25px solid grey;
  padding: 0.5rem 5rem 5rem 0.5rem;
  margin: 2rem auto;
  max-width: 25rem;
  min-height: 26rem;
}

.shoe-card__item-title {
  height: 5rem;
}

.shoe-card__item-price {
  margin: 0.5rem 0 1rem 0;
}

.shoe-card__item-est-price {
  margin-top: 1rem;
}

@media (min-width: 43rem) {
  .shoe-card__items {
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
  }
}

.shoe-card__item:hover {
  box-shadow: 0px 0px 1px 0.01px gray;
  cursor: pointer;
}

.arrow-container {
  position: fixed;
  z-index: 1;
  bottom: 3%;
  left: 48%;
}

.arrow-up {
  opacity: 0.5;
  background-color: darkgrey;
  border-radius: 4px;
}

.arrow-up:focus {
  outline: none;
  box-shadow: none;
}

.footer-container {
  position: relative;
  display: flex;
  background-color: black;
  height: 25%;
  width: 100%;
  bottom: 0;
  z-index: 2;
}

.footer-container h1 {
  position: absolute;
  top: 1rem;
  left: 2rem;
  color: red;
  font-size: 1.5rem;
}

/* UNIVERSAL */

.hidden {
  display: none;
}
